@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background: url("../imagens/fundo-galaxia.jpg");
    /*A imagem está muito grande, mas para não usar outro arquivo ou redimensionar, vou aplicar o cover para dar uma impressão de "corte" na imagem */
    background-size: cover;
}

main {
    position: relative;
}

section#smartphone {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 10%);
    background: url("../imagens/frame-iphone.png");
    height: 625px;
    width: 311px;
}

iframe#telas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -46%);
    height: 500px;
    width: 264px;
}

section#apps {
    position: absolute;
}

section#apps img {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.43);
}

section#apps img:hover {
    border: 2px solid white;
    transform: translate(3px, 3px);
    transition: transform 0.5s;
}